.flex-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background-color: blanchedalmond;

}

.flex-2 {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

.nav-button {
    color: black;
    margin-right: 25px;
    margin-top: 30px;
}

.b1-design {
    padding: 10px 10px;
    background-color: orangered;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.slideSize {
    width: 2000px;
    height: 2000px;
    position: relative;
}